
header h1 {
  display: flex;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  color: white;
  
  padding: 10px;


  text-transform: uppercase;

}

header {
  background-color: rgb(204, 95, 6);
  margin: 0;

}




body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 1000px;
  height: 700px;
  
  object-fit: cover;
}

article{
  margin-bottom: 15px;
}



footer {
  background-color: #000;
  color: #eee;
  display: flex;
  justify-content: center;
  
  
  
}
footer ul{
  display: inline-flex;
  padding: 0%;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  
  margin: 2%;
  list-style: none;

}

footer li{
  
  margin: 10px;
  
}

