body{
    margin: 0px;
    padding: 0px;

    background-color: #f1edce !important;
}
h1{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(204, 95, 6);
    padding: 10px;

    text-transform: uppercase;
}

p{
    display: flex;
    justify-content: center;
    justify-items: center;
    
    margin:10px 30% ;


    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

img{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 23%;
}